@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Workout Generator</h1>



</div>

<div class="row">
    <div class="col-12">
        <h3>Exercises by body area</h3>
        @foreach(var exerciseCategory in Model.ExerciseCategoryList.Results)
        {
            <p>
                @exerciseCategory.Name
            </p>
        }
    </div>
</div>
