@model ExercisesViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Exercises for category</h1>
</div>

<div class="row">
    <div class="col-12 text-center">
        @foreach(var exercise in Model.ExercisesList.Results)
        {
            <p>
                <a asp-controller="Comments"
                   asp-action="Index"
                   asp-route-exerciseId="@exercise.ExerciseId">
                    @exercise.ExerciseName
                </a>
            </p>
        }
    </div>
</div>

