@model CommentViewModel

@{
    ViewData["Title"] = "Comments";
}

<div class="text-center">
    <h1 class="display-4">Comment for Exercise</h1>
</div>

<div class="row">
    <div class="col-12 text-center">
        @foreach(var exerciseComment in Model.CommentsList.Results)
        {
            <p>@exerciseComment.Comment</p>
        }
    </div>
</div>

<div class="picture">
    @foreach(var exerciseImage in Model.ImageList.Results)
        {
            <p>@exerciseImage.Image</p>
        }
</div>